# ===============================
# ENV / SECRETS
# ===============================
.env
.env.*
*.env

# ===============================
# PYTHON
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
.venv/
env/
ENV/

# Python tooling
pip-log.txt
pip-delete-this-directory.txt
.pytest_cache/
.mypy_cache/

# ===============================
# DATABASE / FILES
# ===============================
*.db
*.sqlite3

# ===============================
# LOGS
# ===============================
*.log

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# IDE
# ===============================
.vscode/
.idea/
